BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 8b347b4b4b4f

ALTER TABLE invoices ADD COLUMN payment_system VARCHAR(10) DEFAULT 'web2' NOT NULL;

ALTER TABLE invoices ADD COLUMN blockchain_tx_id VARCHAR;

INSERT INTO alembic_version (version_num) VALUES ('8b347b4b4b4f') RETURNING alembic_version.version_num;

-- Running upgrade 8b347b4b4b4f -> 26408a28e1e5

UPDATE alembic_version SET version_num='26408a28e1e5' WHERE alembic_version.version_num = '8b347b4b4b4f';

-- Running upgrade  -> 20260131_create_core_tables

CREATE TABLE users (
    id SERIAL NOT NULL, 
    username VARCHAR NOT NULL, 
    password_hash VARCHAR NOT NULL, 
    role VARCHAR DEFAULT 'user', 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_users_id ON users (id);

CREATE UNIQUE INDEX ix_users_username ON users (username);

CREATE TABLE payments (
    id SERIAL NOT NULL, 
    invoice_id INTEGER NOT NULL, 
    method VARCHAR NOT NULL, 
    status VARCHAR DEFAULT 'pending' NOT NULL, 
    amount NUMERIC(12, 2) NOT NULL, 
    provider_ref VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(invoice_id) REFERENCES invoices (id)
);

CREATE INDEX ix_payments_id ON payments (id);

CREATE INDEX ix_payments_invoice_id ON payments (invoice_id);

CREATE TABLE blockchain_transactions (
    id SERIAL NOT NULL, 
    invoice_id INTEGER NOT NULL, 
    chain VARCHAR NOT NULL, 
    tx_hash VARCHAR NOT NULL, 
    block_number VARCHAR, 
    explorer_url VARCHAR, 
    confirmed BOOLEAN DEFAULT false NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(invoice_id) REFERENCES invoices (id)
);

CREATE INDEX ix_blockchain_transactions_id ON blockchain_transactions (id);

CREATE UNIQUE INDEX ix_blockchain_transactions_tx_hash ON blockchain_transactions (tx_hash);

CREATE INDEX ix_blockchain_transactions_invoice_id ON blockchain_transactions (invoice_id);

CREATE TABLE audit_events (
    id SERIAL NOT NULL, 
    event_type VARCHAR NOT NULL, 
    actor VARCHAR, 
    ip_address VARCHAR, 
    details JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_audit_events_id ON audit_events (id);

INSERT INTO alembic_version (version_num) VALUES ('20260131_create_core_tables') RETURNING alembic_version.version_num;

-- Running upgrade  -> 0001_add_merchant_id

ALTER TABLE invoices ADD COLUMN merchant_id INTEGER;

INSERT INTO alembic_version (version_num) VALUES ('0001_add_merchant_id') RETURNING alembic_version.version_num;

-- Running upgrade 0001_add_merchant_id, 20260131_create_core_tables, 26408a28e1e5 -> merge_all_heads_20260131

DELETE FROM alembic_version WHERE alembic_version.version_num = '0001_add_merchant_id';

DELETE FROM alembic_version WHERE alembic_version.version_num = '20260131_create_core_tables';

UPDATE alembic_version SET version_num='merge_all_heads_20260131' WHERE alembic_version.version_num = '26408a28e1e5';

COMMIT;

BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 8b347b4b4b4f

ALTER TABLE invoices ADD COLUMN payment_system VARCHAR(10) DEFAULT 'web2' NOT NULL;

ALTER TABLE invoices ADD COLUMN blockchain_tx_id VARCHAR;


-- Running upgrade 8b347b4b4b4f -> 26408a28e1e5

UPDATE alembic_version SET version_num='26408a28e1e5' WHERE alembic_version.version_num = '8b347b4b4b4f';

-- Running upgrade  -> 20260131_create_core_tables

CREATE TABLE users (
    id SERIAL NOT NULL, 
    username VARCHAR NOT NULL, 
    password_hash VARCHAR NOT NULL, 
    role VARCHAR DEFAULT 'user', 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_users_id ON users (id);

CREATE UNIQUE INDEX ix_users_username ON users (username);

CREATE TABLE payments (
    id SERIAL NOT NULL, 
    invoice_id INTEGER NOT NULL, 
    method VARCHAR NOT NULL, 
    status VARCHAR DEFAULT 'pending' NOT NULL, 
    amount NUMERIC(12, 2) NOT NULL, 
    provider_ref VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(invoice_id) REFERENCES invoices (id)
);

CREATE INDEX ix_payments_id ON payments (id);

CREATE INDEX ix_payments_invoice_id ON payments (invoice_id);

CREATE TABLE blockchain_transactions (
    id SERIAL NOT NULL, 
    invoice_id INTEGER NOT NULL, 
    chain VARCHAR NOT NULL, 
    tx_hash VARCHAR NOT NULL, 
    block_number VARCHAR, 
    explorer_url VARCHAR, 
    confirmed BOOLEAN DEFAULT false NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(invoice_id) REFERENCES invoices (id)
);

CREATE INDEX ix_blockchain_transactions_id ON blockchain_transactions (id);

CREATE INDEX ix_blockchain_transactions_invoice_id ON blockchain_transactions (invoice_id);

CREATE UNIQUE INDEX ix_blockchain_transactions_tx_hash ON blockchain_transactions (tx_hash);

CREATE TABLE audit_events (
    id SERIAL NOT NULL, 
    event_type VARCHAR NOT NULL, 
    actor VARCHAR, 
    ip_address VARCHAR, 
    details JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_audit_events_id ON audit_events (id);


-- Running upgrade  -> 0001_add_merchant_id

ALTER TABLE invoices ADD COLUMN merchant_id INTEGER;


-- Running upgrade 0001_add_merchant_id, 20260131_create_core_tables, 26408a28e1e5 -> merge_all_heads_20260131

DELETE FROM alembic_version WHERE alembic_version.version_num = '0001_add_merchant_id';

DELETE FROM alembic_version WHERE alembic_version.version_num = '20260131_create_core_tables';

UPDATE alembic_version SET version_num='merge_all_heads_20260131' WHERE alembic_version.version_num = '26408a28e1e5';

COMMIT;

